pkgbase = drone-git
	pkgdesc = Drone is a Continuous Integration platform built on Docker, written in Go.
	pkgver = 1.10.0.r3.g6af2647e
	pkgrel = 1
	url = http://github.com/drone/drone
	install = drone-server.install
	install = drone-agent.install
	arch = i686
	arch = x86_64
	arch = arm
	arch = armv6h
	arch = armv7h
	arch = aarch64
	license = Apache 2
	makedepends = git
	makedepends = go
	depends_drone-agent = docker
	provides = drone-server
	provides = drone-agent
	conflicts = drone
	backup = etc/drone/server
	backup = etc/drone/agent
	source = git+https://github.com/drone/drone.git
	source = drone-server.service
	source = drone-agent.service
	source = server.conf
	source = agent.conf
	sha256sums = SKIP
	sha256sums = 5be757ee7375ec0b264a0f61745a045c1a605a460b22b8ccd3d86e5cbc2764c2
	sha256sums = afa143befcc65bd2f9cdfb0b5b2c435385eaf6ad9bd12aeec81eb060b441f007
	sha256sums = 4939f041cacbcab38aa2ea1af0fb229bc5afddfac28b8acf62f931ae632d913a
	sha256sums = 0ee9a5d644eeb13a6bfc61fde8d3926dea2527d0eb71bdfc7e683abd0c20ea51

pkgname = drone-git

