pkgbase = drone-git
	pkgdesc = Drone is a Continuous Integration platform built on Docker, written in Go.
	pkgver = 1.10.0.r3.g6af2647e
	pkgrel = 1
	url = http://github.com/drone/drone
	install = drone-server.install
	install = drone-agent.install
	arch = i686
	arch = x86_64
	arch = arm
	arch = armv6h
	arch = armv7h
	arch = aarch64
	license = Apache 2
	makedepends = git
	makedepends = go
	depends_drone-agent = docker
	provides = drone-server
	provides = drone-agent
	conflicts = drone
	backup = etc/drone/server
	backup = etc/drone/agent
	source = git+https://github.com/drone/drone.git
	source = drone-server.service
	source = drone-agent.service
	source = server.conf
	source = agent.conf
	sha1sums = SKIP
	sha1sums = 7b5132cd845d9fb869fed3c6ceb96f6105997c35
	sha1sums = 7d7da680b78a51ba11a8bc63f93b09b228f5b544
	sha1sums = 7669f9b31bc7391be1c0138845a7d2267d21999d
	sha1sums = f23754fe65f35c5d6e4d0b73a7b9448cfcb5e2e9

pkgname = drone-git

